<!-- Bottom Music Player -->
<div class="bottom-player fixed-bottom d-flex justify-content-between align-items-center px-4 py-2">
    <!-- Left Section -->
    <div class="d-flex align-items-center">
        <a routerLink="/playing-now">
            <img src="../assets/Mask Group (1).png" alt="cover" class="cover-img" />
        </a>
        <div class="ms-3">
            <div class="track-title">{{ importedSongs[currentSongIndex]?.name || 'No song playing' }}</div>
            <div class="track-artist">{{ importedSongs[currentSongIndex]?.artist || '' }}</div>
        </div>
    </div>

    <!-- Center Controls and Progress -->
    <div class="player-center d-flex flex-column align-items-center w-50">
        <div class="controls d-flex align-items-center justify-content-center gap-3 mb-1">
            <i class="bi bi-shuffle icon-btn"></i>
            <i class="bi bi-skip-backward-fill icon-btn"></i>
            <!-- Play/Pause Button -->
            <i class="bi play-icon" [ngClass]="{'bi-play-circle-fill': !importedSongs[currentSongIndex]?.isPlaying,
                'bi-pause-circle-fill': importedSongs[currentSongIndex]?.isPlaying}"
                (click)="currentSongIndex !== -1 && togglePlay(currentSongIndex)">
            </i>

            <i class="bi bi-skip-forward-fill icon-btn"></i>
        </div>

        <!-- Progress -->
        <div class="progress-bar-container d-flex align-items-center w-100">
            <span class="time text-white small">{{ currentTime }}</span>

            <input type="range" class="form-range crossfade-slider" [min]="0"
                [max]="importedSongs[currentSongIndex]?.duration || 0"
                [value]="importedSongs[currentSongIndex]?.currentTime || 0"
                [style.--progress]="(importedSongs[currentSongIndex]?.currentTime / importedSongs[currentSongIndex]?.duration) * 100 || 0"
                (input)="seekTo($event)" />

            <span class="time text-white small">{{ duration }}</span>
        </div>

    </div>

    <!-- Right Section (Crossfade & Volume) -->
    <div class="d-flex align-items-center gap-3 text-white">
    </div>
</div>