.edit-profile-container {
  width: 100%;
  margin: auto;
padding-left: 10rem;
padding-right: 10rem;
padding-bottom: 5rem;
padding-top: 5rem;
  background: linear-gradient(135deg, #6e45e2 0%, #89d4cf 100%); 
  // box-shadow: 0 0 20px rgba(98, 0, 234, 0.2);
  color: #fff;
}

.edit-profile-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.profile-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  background: linear-gradient(to right, #af9ce3, #89d4cf);
}

.custom-dark-input {
  background: linear-gradient(to right, #af9ce3, #89d4cf);
  color: #f1f1f1;
  border: none;
  border-radius: 6px;
}

.custom-dark-input::placeholder {
  color: #414040;
}

.custom-dark-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(162, 89, 255, 0.25);
  outline: none;
}

.save-btn {
  background: linear-gradient(to top, #8a74c6, #89d4cf);
  color: white;
  padding: 0.8rem 1rem;
  width: 50%;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  justify-content: center;
  align-items: center;
  margin-left: 550px
}

.save-btn:hover {    
   background: linear-gradient(to right, #af9ce3, #89d4cf);

}


.settings-group h2 {
  color: #111828;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.settings-group label,
.settings-group p,
.settings-group a {
  display: block;
  margin: 0.5rem 0;
  font-size: 1rem;
}

select,
input[type="range"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  background: linear-gradient(to right, #af9ce3, #89d4cf);
  border-color: #ffffff;
  color: #3c3c3c;
  border: none;
  border-radius: 6px;
}
