<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center">

    <!-- Hamburger Icon -->
    <i class="bi bi-list text-white fs-3 hamburger" (click)="toggleSidebar()"></i>

    <!-- Sidebar -->
    <div sidebar class="sidebar text-white" [class.active]="isSidebarVisible">
      <i class="bi bi-x fs-4 close-btn" (click)="toggleSidebar()"></i>
      <ul class="list-unstyled mt-4 ps-3">
        <a [routerLink]="['/liked-songs']"><li><i class="bi bi-heart me-2"></i>Liked Songs</li></a>
        <!-- <li><a (click)="likedsongs()"></a><i class="bi bi-heart me-2"></i>Liked Songs</li> -->
        <!-- <li><i class="bi bi-globe me-2"></i>Language</li> -->
        <li><i class="bi bi-chat-dots me-2"></i>About us</li>
        <li><i class="bi bi-question-circle me-2"></i>FAQs</li>
        <a routerLink="/settings"><li><i class="bi bi-gear me-2"></i>Settings</li></a>
      </ul>
    </div>

    <!-- Backdrop (clicking on it closes sidebar) -->
    <div class="sidebar-backdrop" *ngIf="isSidebarVisible" (click)="toggleSidebar()"></div>

    <div class="search-container mt-3">
      <i class="bi bi-search text-white fs-3" (click)="toggleSearch()"></i>
      <input 
        *ngIf="searchVisible" 
        type="text" 
        class="search-input" 
        placeholder="Search something..." 
        [(ngModel)]="searchQuery"
      />
    </div>
    
  </div>
</div>