.container-fluid {
    background-color: rgba(9, 18, 39, 1);
    height: 200vh;
}
.head{
    color: white;
}

img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.music-player {
    border-top: 1px solid #444;
}