<div class="container-fluid p-4">

    <!-- Top Nav -->
    <div class="d-flex justify-content-between align-items-center mb-4">


        <i class="bi bi-list text-white fs-3 hamburger" (click)="toggleSidebar()"></i>


        <div #sidebar class="sidebar bg-dark text-white" [class.active]="isSidebarVisible">
            <i class="bi bi-x fs-4 close-btn" (click)="toggleSidebar()"></i>
            <ul class="list-unstyled mt-4 ps-3">
                <li><a (click)="home()"></a><i class="bi bi-person me-2"></i>Home</li>
                <li><a (click)="likedsongs()"></a><i class="bi bi-heart me-2"></i>Liked Songs</li>
                <li><a (click)="home()"></a><i class="bi bi-globe me-2"></i>Language</li>
                <li><a (click)="home()"></a><i class="bi bi-chat-dots me-2"></i>Contact us</li>
                <li><a (click)="home()"></a><i class="bi bi-question-circle me-2"></i>FAQs</li>
                <li><a (click)="home()"></a><i class="bi bi-gear me-2"></i>Settings</li>
            </ul>
        </div>


        <div class="sidebar-backdrop" *ngIf="isSidebarVisible" (click)="toggleSidebar()"></div>

        <i class="bi bi-search text-white fs-3"></i>
    </div>

    <!-- Recommended -->
    <h5 class="mb-3 head">Recommended for you</h5>
    <div class="scroll-container mb-5">
        <div class="row flex-nowrap">
            <div class="col-2">
                <img src="../assets/Mask Group.png" alt="cover" class="album-img mb-2">
                <div class="album-title">Believer</div>
                <div class="album-artist">IMAGINE DRAGONS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group.png" alt="cover" class="album-img mb-2">
                <div class="album-title">Believer</div>
                <div class="album-artist">IMAGINE DRAGONS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Monsters Go Bump</div>
                <div class="album-artist">ERIKA RECINOS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Moment Apart</div>
                <div class="album-artist">ODESZA</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group.png" alt="cover" class="album-img mb-2">
                <div class="album-title">Monsters Go Bump</div>
                <div class="album-artist">ERIKA RECINOS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Moment Apart</div>
                <div class="album-artist">ODESZA</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Monsters Go Bump</div>
                <div class="album-artist">ERIKA RECINOS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Moment Apart</div>
                <div class="album-artist">ODESZA</div>
            </div>
            <!-- repeat more songs -->
        </div>
    </div>


    <!-- Playlist -->
    <h5 class="mb-3 head">My Playlist</h5>
    <div class="scroll-container mb-5">
        <div class="row flex-nowrap">
            <div class="col-2">
                <img src="../assets/Mask Group.png" alt="cover" class="album-img mb-2">
                <div class="album-title">Believer</div>
                <div class="album-artist">IMAGINE DRAGONS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group.png" alt="cover" class="album-img mb-2">
                <div class="album-title">Believer</div>
                <div class="album-artist">IMAGINE DRAGONS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Monsters Go Bump</div>
                <div class="album-artist">ERIKA RECINOS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Moment Apart</div>
                <div class="album-artist">ODESZA</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Monsters Go Bump</div>
                <div class="album-artist">ERIKA RECINOS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Moment Apart</div>
                <div class="album-artist">ODESZA</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Monsters Go Bump</div>
                <div class="album-artist">ERIKA RECINOS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Moment Apart</div>
                <div class="album-artist">ODESZA</div>
            </div>
            <!-- repeat more songs -->
        </div>
    </div>
</div>

<!-- Bottom Music Player -->
<div class="bottom-player fixed-bottom">
    <div class="d-flex align-items-center">
        <img src="../assets/Mask Group (1).png" alt="cover" style="height: 50px; border-radius: 5px;">
        <div class="ms-3">
            <div class="album-title mb-0">Chaff & Dust</div>
            <div class="album-artist">HYONNA</div>
        </div>
    </div>

    <!-- Progress Bar -->
    <div class="mt-3">
        <input type="range" min="0" max="200" value="50" class="form-range" id="songRange" />
        <div class="time-info">
            <span>00:50</span>
            <span>04:00</span>
        </div>
    </div>

    <!-- Controls -->
    <div class="d-flex justify-content-center player-controls">
        <i class="bi bi-skip-backward-fill icon-btn"></i>
        <i class="bi bi-play-fill icon-btn"></i>
        <i class="bi bi-skip-forward-fill icon-btn"></i>
    </div>
</div>