<div class="container-fluid p-4">

    <!-- Top Nav -->

    <!-- Recommended -->
    <h5 class="mb-3 head">Recommended for you</h5>
    <div class="scroll-container mb-5">
        <div class="row flex-nowrap">
            <div class="col-2">
                <img src="../assets/Mask Group.png" alt="cover" class="album-img mb-2">
                <div class="album-title">Believer</div>
                <div class="album-artist">IMAGINE DRAGONS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group.png" alt="cover" class="album-img mb-2">
                <div class="album-title">Believer</div>
                <div class="album-artist">IMAGINE DRAGONS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Monsters Go Bump</div>
                <div class="album-artist">ERIKA RECINOS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Moment Apart</div>
                <div class="album-artist">ODESZA</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group.png" alt="cover" class="album-img mb-2">
                <div class="album-title">Monsters Go Bump</div>
                <div class="album-artist">ERIKA RECINOS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Moment Apart</div>
                <div class="album-artist">ODESZA</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Monsters Go Bump</div>
                <div class="album-artist">ERIKA RECINOS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Moment Apart</div>
                <div class="album-artist">ODESZA</div>
            </div>
            <!-- repeat more songs -->
        </div>
    </div>


    <!-- Playlist -->
    <h5 class="mb-3 head">My Playlist</h5>
    <div class="scroll-container mb-5">
        <div class="row flex-nowrap">
            <div class="col-2">
                <img src="../assets/Mask Group.png" alt="cover" class="album-img mb-2">
                <div class="album-title">Believer</div>
                <div class="album-artist">IMAGINE DRAGONS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group.png" alt="cover" class="album-img mb-2">
                <div class="album-title">Believer</div>
                <div class="album-artist">IMAGINE DRAGONS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Monsters Go Bump</div>
                <div class="album-artist">ERIKA RECINOS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Moment Apart</div>
                <div class="album-artist">ODESZA</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Monsters Go Bump</div>
                <div class="album-artist">ERIKA RECINOS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Moment Apart</div>
                <div class="album-artist">ODESZA</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Monsters Go Bump</div>
                <div class="album-artist">ERIKA RECINOS</div>
            </div>
            <div class="col-2">
                <img src="../assets/Mask Group (1).png" alt="cover" class="album-img mb-2">
                <div class="album-title">Moment Apart</div>
                <div class="album-artist">ODESZA</div>
            </div>
            <!-- repeat more songs -->
        </div>
    </div>
</div>

<!-- Bottom Music Player -->
<div class="bottom-player fixed-bottom">
    <div class="d-flex align-items-center">
        <img src="../assets/Mask Group (1).png" alt="cover" style="height: 50px; border-radius: 5px;">
        <div class="ms-3">
            <div class="album-title mb-0">Chaff & Dust</div>
            <div class="album-artist">HYONNA</div>
        </div>
    </div>

    <!-- Progress Bar -->
    <div class="mt-3">
        <input type="range" min="0" max="200" value="50" class="form-range" id="songRange" />
        <div class="time-info">
            <span>00:50</span>
            <span>04:00</span>
        </div>
    </div>

    <!-- Controls -->
    <div class="d-flex justify-content-center player-controls">
        <i class="bi bi-skip-backward-fill icon-btn"></i>
        <i class="bi bi-play-fill icon-btn"></i>
        <i class="bi bi-skip-forward-fill icon-btn"></i>
    </div>
</div>